* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
::before,
::after {
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #000;
}
.content {
  width: 90%;
  margin: 20px auto;
}
.stopwatch{
  position: absolute;
  top: 20%;
  left: 30%;
  transform: rotate(-20%,-30%);
  align-items: center;
  -webkit-transform: rotate(-20%,-30%);
  -moz-transform: rotate(-20%,-30%);
  -ms-transform: rotate(-20%,-30%);
  -o-transform: rotate(-20%,-30%);
}
.logo{
  position: absolute;
  top: 5%;
  padding: 12px;
  border-radius: 2px;
  color: #000;
  font-size: 38px;
  font-weight: 600;
  background: #fff;
  transform: rotateX(-5%);
  -webkit-transform: rotateX(-5%);
  -moz-transform: rotateX(-5%);
  -ms-transform: rotateX(-5%);
  -o-transform: rotateX(-5%);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.controls {
  display: flex;
  justify-content: center;
}
.controls > .stop,
.start,
.reset {
  margin: 0 60px;
  padding: 8px 16px;
  background: #fff;
  font-weight: 600;
  border: 1px solid;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
}

.display {
  text-align: center;
  font-size: 100px;
  margin: 20px;
  color: #fff;
}
