* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
::before,
::after {
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #000;
}
.content {
  width: 90%;
  margin: 20px auto;
}
.stopwatch {
  margin-top: 25%;
}
.logo {
  position: absolute;
  top: 5%;
  padding: 12px;
  border-radius: 2px;
  color: #000;
  font-size: 38px;
  font-weight: 600;
  background: #fff;
  transform: rotateX(-5%);
  -webkit-transform: rotateX(-5%);
  -moz-transform: rotateX(-5%);
  -ms-transform: rotateX(-5%);
  -o-transform: rotateX(-5%);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.controls {
  display: flex;
  justify-content: center;
}
.controls > .btn {
  position: relative;
  display: inline-block;
  margin: 0 6em;
  padding: 0.6em 1.2em;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid #666;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.2s;
}
.controls > .btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #666;
  height: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 100%;
  z-index: -1;
  transition: 0.4s ease-in;
  -webkit-transition: 0.4s ease-in;
  -moz-transition: 0.4s ease-in;
  -ms-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
}
.btn:hover::before {
  color: #fff !important;
  height: 100%;
  background-color: #666;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.display {
  text-align: center;
  font-size: 100px;
  margin: 20px;
  color: #fff;
}

@media only screen and (max-width: 900px) {
  .logo {
    font-size: 28px;
  }
  .controls > .btn {
    margin: 0.2em auto;
  }
  .display {
    font-size: 76px;
  }
}
@media only screen and (max-width: 600px) {
  .logo {
    font-size: 20px;
  }
  .controls > .btn {
    margin: 0.2em auto;
    padding: 0.4em 0.8em;
  }
  .display {
    margin-top: 20px;
    font-size: 70px;
  }
}
